#eclipse files
.project
.settings
.editorconfig

#webstorm
.idea/

# temp files
.DS_Store
Thumbs.db
Desktop.ini

#log files
.log

#node
node_modules/*
.vscode/*
npm-debug.log
yarn.lock

# Vim swap files
*.sw*

# debug
*debug/
dist/

# sails
.tmp/
